<div class="container">
    <div class="main-content" *ngIf="(user | async) as user">
      <span class="id">{{user.id}}</span>
      <span class="l">{{ user.name[0]}}</span>
      <span class="name">{{user.name}}</span>
      <span class="email">{{user.email}}</span>
    </div>
    <div class="icon-footers">
      <img src="assets/images/1485482214-facebook_78681.png">
      <img src="assets/images/LINKEDIN_icon-icons.com_65538%20(1).png">
      <img src="assets/images/GooglePlus_G_icon-icons.com_49945.png">
    </div>
</div>

