<div class="container">
    <img src="assets/images/received_655190985068488.jpeg">
    <div class="main-content">
      <span class="id">1</span>
      <span class="l">L</span>
      <span class="name">luka kurtanidze</span>
      <span class="email">kurtanidze@gmail.com</span>
    </div>
    <div class="icon-footers">
      <img src="assets/images/1485482214-facebook_78681.png">
      <img src="assets/images/LINKEDIN_icon-icons.com_65538%20(1).png">
      <img src="assets/images/GooglePlus_G_icon-icons.com_49945.png">
    </div>
</div>

