.container{
  position: relative;
  margin-top: 40px;
  img{
    max-width: 400px;
  }
  .main-content{

    .id{
      position: absolute;
      top: -10px;
      left: 0;
      background-color: #e97676;
      padding: 9px 15px;
      border-radius: 50%;
      color: white;
    }
    .l{
      position: absolute;
      top: 80px;
      left: 165px;
      padding: 25px 40px;
      background-color: #3a7aee;
      border-radius: 50%;
      border: 1px solid white;
      color: white;
      font-size: 30px;
      font-weight: 500
    }
    .name{
      position: absolute;
      bottom: 149px;
      color: white;
      left: 130px;
      font-size: 25px;
      letter-spacing: 0.7px;
    }
    .email{
      position: absolute;
      bottom: 120px;
      color: white;
      left: 154px;
      font-size: 13px
    }
  }
  .icon-footers{
    background-color: #171616;
    width: 400px;
    position: absolute;
    bottom: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
      width: 30px;
      background-color: gray;
      padding: 6px 5px;
      filter: brightness(50%) invert(100%);
    }
  }
}
