<div *ngIf="showPopUp"
  class="error-warning">
  <div class="error-message">
    <p>username or password is incorrect</p>
  </div>
</div>
<div class="container">
  <div class="header">
    <h3 class="text-start">Angular Signing</h3>
  </div>
  <div class="content">
    <form [formGroup]="form">
      <div class="form-group">

        <label class="form-label" for="username">Username:</label>

        <input class="form-control"
               type="text"
               id="username"
               placeholder="username: admin"
               formControlName="username"
               required>

        <div class="error.messages">
          <ng-container *ngIf="username.touched && username.errors">
            <p *ngIf="username.errors['required']" class="text-danger">Required Field</p>
            <p *ngIf="username.errors['minlength']" class="text-danger">Write at least 5 character</p>
          </ng-container>
        </div>
      </div>
      <div class="form-group">

        <label class="form-label" for="password">password:</label>

        <input class="form-control"
               id="password"
               type="password"
               placeholder="password: admin"
               formControlName="password"
               required>
      </div>

      <div class="error-messages">
        <ng-container *ngIf="password.touched && password.errors">
          <p *ngIf="password.errors['required']" class="text-danger">Required Field</p>
          <p *ngIf="password.errors['minlength']" class="text-danger">Write at least 5 character</p>
        </ng-container>
      </div>
    </form>
    <button [disabled]="form.invalid" class="btn bg-primary text-white" (click)="SubmitValue()">Signing</button>
  </div>
</div>
